---
import { Footer } from "../components/footer";
import { ExternalLink } from "../components/link";
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";

const { content, frontmatter } = Astro.props;
const minutesRead = frontmatter?.minutesRead;
---

<html lang="en">
  <head>
    <MainHead title={content.title} description={content.description} />
  </head>

  <body class="bg-background text-foreground font-sans">
    <Nav />

    <main>
      <div class="mx-auto flex max-w-3xl flex-col gap-2 px-4">
        <h1 class="items-end justify-between pb-6 pt-6 md:flex md:pt-8">
          <ExternalLink
            href={content.site_url}
            class="flex items-center text-2xl font-medium hover:underline hover:underline-offset-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="mr-2 h-[1em] w-[1em]"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
              ></path>
            </svg>
            {content.title}
          </ExternalLink>

          {
            content.source ? (
              <ExternalLink
                href={content.source}
                class="flex items-center text-xl hover:underline hover:underline-offset-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mr-2 h-[1em] w-[1em]"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width={2}
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
                  />
                </svg>
                Source Code
              </ExternalLink>
            ) : null
          }
        </h1>
        <h2 class="text-lg opacity-70">{content.description}</h2>
        {
          minutesRead ? (
            <p class="text-muted-foreground text-sm">{minutesRead}</p>
          ) : null
        }

        <div class="grid grid-cols-2">
          <div class="my-2">
            <h3 class="mb-1 font-medium uppercase">Duration</h3>
            <p>
              {content.duration}
            </p>
          </div>
          <div class="my-2">
            <h3 class="mb-1 font-medium uppercase">Team</h3>
            <ul>{content.team.map(member => <li>{member}</li>)}</ul>
          </div>
          <div class="my-2">
            <h3 class="mb-1 font-medium uppercase">Role</h3>
            <ul>{content.roles.map(role => <li>{role}</li>)}</ul>
          </div>
          <div class="my-2">
            <h3 class="mb-1 font-medium uppercase">Tech Stack</h3>
            <ul class="grid-cols-3 md:grid">
              {content.stack.map(role => <li class="mx-1">{role}</li>)}
            </ul>
          </div>
        </div>
      </div>

      <div class="prose mx-auto max-w-3xl px-4 py-6">
        <slot />
      </div>
    </main>

    <Footer />
  </body>
</html>
